<!DOCTYPE html>
<html>
  <head>
    <title>Classificados</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to "Cadastre-se", '/users/new' %>
    </nav>

    <% if notice %>
      <p>
        <%= notice %>
      </p>
    <% end %>
    
    <% if alert %>
      <p>
        <%= alert %>
      </p>
    <% end %>

    
    <% if logged_in? %>
      <%= current_user.name %> | 
      <%= link_to 'Deslogar', '/sessions/delete', method: :delete %>
    
    <% else %>
      <%= link_to 'Logar-se', '/sessions/new' %>
    <% end %>
    
    <%= yield %>
  </body>
</html>
